h1,h2,h3,h4,h5,h6,p,div,ul,ol,li,table,tr,td,body,input
{
font-family:'adelle-sans',sans-serif;
}

strong,b { font-family:'adelle-sans'; font-weight: 700; }
em,i { font-family:'adelle-sans'; font-style: italic; }
